<!-- <ion-content color="favorite" padding>
  <div class="div_general">
    <img src="assets/imgs/logo.png" width="55%">
    <div class="div_mayor">
      <ion-list no-lines class="ion-align-items-center">
        <form [formGroup]="LoginForm">
          <ion-item>
            <ion-input formControlName="folio" placeholder="Escriba el nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" type="password" required></ion-input>
          </ion-item>
        </form>
        <button mat-raised-button color="primary" (click)="login()">Ingresar</button>

      </ion-list>
    </div>
  </div>
</ion-content> -->

<ion-content>

  <div style="margin-top: 100px;">
    <img src="assets/images/teslaletras.png" alt="tesla project ">
  </div>
  <div style="margin-top: 90px; text-align: center;">
    <img style=" height: 100px; width: 100px;" src="assets/images/charge.jpg" alt="tesla project ">
  </div>



  <form #form="ngForm" style="margin-top: 100px;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div style="text-align: center;">
            <h3 style="color: black; ">WELCOME</h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: white;" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <form [formGroup]="LoginForm">
              <ion-item>
                <ion-input formControlName="folio" style="color: black;" name="email" type="email"
                  placeholder="your@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="password" style="color: black;" name="password" type="password"
                  placeholder="Password" ngModel required></ion-input>
              </ion-item>
              <div padding>
                <ion-button (click)="login()" style="color: white;" size="large" type="submit" expand="block">Login
                </ion-button>
                <ion-button (click)="singup()" style="color: white;" size="large" expand="block">SignUp
                </ion-button>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>