<ion-header style="--background: white;">
  <ion-toolbar style=" --background: white;">
    <ion-buttons (onClick)="toLogin()" slot="start" style=" --background: black;">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="margin-top: 100px;">
          <img src="assets/images/teslaletras.png" alt="tesla project ">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="margin-top: 100px; text-align: center;">
          <h3 style="color: black;">SignUp (Fill the form)</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <form #form="ngForm" style="margin-top: 50px; ">
    <ion-grid>
      <ion-row style="background-color: white;" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <form [formGroup]="RegisterForm">
            <div padding>
              <ion-item>
                <ion-input formControlName="name" style="color: black;" placeholder="Escriba el nombre" required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="phone" style="color: black;" name="phone" type="phone" placeholder="Escriba su telefono"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="folio" placeholder="Escriba un username" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="password" style="color: black;" name="password" type="password"
                  placeholder="Password"></ion-input>
              </ion-item>
            </div>
          </form>
          <div padding>
            <ion-button (click)="Register()" style="color: white;" size="large" type="submit" expand="block">Create
              Account</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>