<ion-app>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Driver Test</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="container-fluid">
      <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>

</ion-app>