
  <ion-header>
    <ion-toolbar>
      <ion-title>Driver tasks</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onSync()">
      <ion-icon name="sync-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ng-container *ngIf="points.length > 0; else elseTemplate">
      <ng-container *ngFor="let item of points">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.description}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-chip  (click)="onMap(item.id)"color="success" >
                  <ion-icon name="compass-outline"></ion-icon>
                  <ion-label>Map</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col>
                <ion-chip color="primary" (click)="onDone(item.id)">
                  <ion-icon name="checkmark-done-outline"></ion-icon>
                  <ion-label>Done</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col>
                <ion-chip color="danger" (click)="onCancel(item.id)">
                  <ion-icon name="close-outline"></ion-icon>
                  <ion-label>Cancelar</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="ion-padding custom-skeleton">
        <ng-container *ngFor="let item of skeletonItems">
          <ion-skeleton-text animated style="height: 25px;"></ion-skeleton-text>
        </ng-container>
      </div>
    </ng-template>
  </ion-list>
</ion-content>